<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>ajaxServlet</servlet-name>
        <servlet-class>vnpay.ajaxServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>vnpayQuery</servlet-name>
        <servlet-class>vnpay.vnpayQuery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>vnpayRefund</servlet-name>
        <servlet-class>vnpay.vnpayRefund</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ajaxServlet</servlet-name>
        <url-pattern>/ajaxServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>vnpayQuery</servlet-name>
        <url-pattern>/vnpayQuery</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>vnpayRefund</servlet-name>
        <url-pattern>/vnpayRefund</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>UserFilter</filter-name>
        <filter-class>filter.UserFilter</filter-class>
    </filter>
    <filter>
        <filter-name>AdminFilter</filter-name>
        <filter-class>filter.AdminFilter</filter-class>
    </filter>
    <filter>
        <filter-name>SellerFilter</filter-name>
        <filter-class>filter.SellerFilter</filter-class>
    </filter>
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>filter.LoginFilter</filter-class>
    </filter>
    <filter>
        <filter-name>MarketingFilter</filter-name>
        <filter-class>filter.MarketingFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>MarketingFilter</filter-name>
        <url-pattern>/mkt/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/login</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>SellerFilter</filter-name>
        <url-pattern>/seller/*</url-pattern>
        <url-pattern>/ManageFeedbackBySeller</url-pattern>
        <url-pattern>/ReplyFeedback</url-pattern>
        <url-pattern>/AddBlog</url-pattern>
        <url-pattern>/UpdateBlog</url-pattern>
        <url-pattern>/DeleteBlog</url-pattern>
        <url-pattern>/delete</url-pattern>
        <url-pattern>/AddProduct</url-pattern>
        <url-pattern>/EditProductControl</url-pattern>
        <url-pattern>/LoadProduct</url-pattern>
        <url-pattern>/DeleteFeedback</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UserFilter</filter-name>
        <url-pattern>/user/*</url-pattern>
        <url-pattern>/ViewFeedback</url-pattern>
        <url-pattern>/viewOrder</url-pattern>
        <url-pattern>/changepass</url-pattern>
        <url-pattern>/ViewOrderDetails</url-pattern>
        <url-pattern>/ProfileControl</url-pattern>
        <url-pattern>/GetFeedback</url-pattern>
        <url-pattern>/ManageFeedbackByCustomer</url-pattern>
        <url-pattern>/Chat</url-pattern>
        <url-pattern>/LoadMessage</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/admin/*</url-pattern>
        <url-pattern>/AccountManagerControl</url-pattern>
        <url-pattern>/searchAccount</url-pattern>
        <url-pattern>/editAccount</url-pattern>
        <url-pattern>/deleteAccount</url-pattern>
        <url-pattern>/AddPost</url-pattern>
        <url-pattern>/DeletePost</url-pattern>
        <url-pattern>/EditPost</url-pattern>
        <url-pattern>/LoadPost</url-pattern>
        <url-pattern>/PostControl</url-pattern>
        <url-pattern>/PostDetail</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>controller.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogList</servlet-name>
        <servlet-class>controller.BlogList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageBlog</servlet-name>
        <servlet-class>controller.ManageBlog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogDetail</servlet-name>
        <servlet-class>controller.BlogDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateBlog</servlet-name>
        <servlet-class>controller.UpdateBlog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddBlog</servlet-name>
        <servlet-class>controller.AddBlog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteBlog</servlet-name>
        <servlet-class>controller.DeleteBlog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>error</servlet-name>
        <servlet-class>controller.Error</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountManagerControl</servlet-name>
        <servlet-class>controller.AccountManagerControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name> ChangedPasswordControl</servlet-name>
        <servlet-class>controller.ChangedPasswordControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductListServlet</servlet-name>
        <servlet-class>controller.Customer_ProductList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editAccount</servlet-name>
        <servlet-class>controller.editAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteAccount</servlet-name>
        <servlet-class>controller.deleteAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewOrder</servlet-name>
        <servlet-class>controller.viewOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartServlet</servlet-name>
        <servlet-class>controller.User_Cart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlusCart</servlet-name>
        <servlet-class>controller.Cart_Plus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MinusCart</servlet-name>
        <servlet-class>controller.Cart_Minus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCart</servlet-name>
        <servlet-class>controller.Cart_Delete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveCart</servlet-name>
        <servlet-class>controller.Cart_Remove</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOutServlet</servlet-name>
        <servlet-class>controller.Cart_Checkout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlaceOrderServlet</servlet-name>
        <servlet-class>controller.Cart_PlaceOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MarkAsReadServlet</servlet-name>
        <servlet-class>controller.Notification_MarkAsRead</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReadAllServlet</servlet-name>
        <servlet-class>controller.Notification_ReadAll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchAccount</servlet-name>
        <servlet-class>controller.searchAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changepass</servlet-name>
        <servlet-class>controller.changepass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashboardControler</servlet-name>
        <servlet-class>controller.DashboardController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerOrderControler</servlet-name>
        <servlet-class>controller.ManagerOrderControler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginControl</servlet-name>
        <servlet-class>controller.LoginControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewOrderDetails</servlet-name>
        <servlet-class>controller.ViewOrderDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmOrderController</servlet-name>
        <servlet-class>controller.ConfirmOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetFeedback</servlet-name>
        <servlet-class>controller.GetFeedback</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageFeedbackByCustomer</servlet-name>
        <servlet-class>controller.ManageFeedbackByCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageFeedbackBySeller</servlet-name>
        <servlet-class>controller.ManageFeedbackBySeller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderDetailsController</servlet-name>
        <servlet-class>controller.OrderDetailsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewFeedback</servlet-name>
        <servlet-class>controller.ViewFeedback</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostControl</servlet-name>
        <servlet-class>controller.PostControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostDetailControl</servlet-name>
        <servlet-class>controller.PostDetailControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReplyFeedback</servlet-name>
        <servlet-class>controller.ReplyFeedback</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePostControl</servlet-name>
        <servlet-class>controller.DeletePostControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageBanner</servlet-name>
        <servlet-class>controller.Marketing_Banner</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddBanner</servlet-name>
        <servlet-class>controller.Banner_Add</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteBanner</servlet-name>
        <servlet-class>controller.Banner_Delete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCBanner</servlet-name>
        <servlet-class>controller.CBanner_Add</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCBanner</servlet-name>
        <servlet-class>controller.DeleteCBanner</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCBanner</servlet-name>
        <servlet-class>controller.CBanner_Edit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadProductControl</servlet-name>
        <servlet-class>controller.LoadProductControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProduct</servlet-name>
        <servlet-class>controller.AddProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerProduct</servlet-name>
        <servlet-class>controller.ManagerProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProductControl</servlet-name>
        <servlet-class>controller.EditProductControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadProduct</servlet-name>
        <servlet-class>controller.LoadProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadPost</servlet-name>
        <servlet-class>controller.LoadPost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditPostControl</servlet-name>
        <servlet-class>controller.EditPostControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProductControl</servlet-name>
        <servlet-class>controller.AddProductControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPost</servlet-name>
        <servlet-class>controller.AddPost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeliveryDashboard</servlet-name>
        <servlet-class>controller.DeliveryDashboard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeliveryDetail</servlet-name>
        <servlet-class>controller.DeliveryDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeliverConfirm</servlet-name>
        <servlet-class>controller.DeliverConfirm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MarketingDashboard</servlet-name>
        <servlet-class>controller.Marketing_Dashboard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadMessage</servlet-name>
        <servlet-class>controller.LoadMessage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Chat</servlet-name>
        <servlet-class>controller.Chat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageDiscount</servlet-name>
        <servlet-class>controller.Marketing_Discount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Marketing_EditSale</servlet-name>
        <servlet-class>controller.Marketing_EditSale</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addAccount</servlet-name>
        <servlet-class>controller.addAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteFeedback</servlet-name>
        <servlet-class>controller.DeleteFeedback</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cart_Vnpay</servlet-name>
        <servlet-class>controller.Cart_Vnpay</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>error</servlet-name>
        <url-pattern>/error</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginControl</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>404</error-code>
        <location>/error</location>
    </error-page>
    <servlet-mapping>
        <servlet-name>BlogList</servlet-name>
        <url-pattern>/BlogList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageBlog</servlet-name>
        <url-pattern>/ManageBlog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogDetail</servlet-name>
        <url-pattern>/BlogDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateBlog</servlet-name>
        <url-pattern>/UpdateBlog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddBlog</servlet-name>
        <url-pattern>/AddBlog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteBlog</servlet-name>
        <url-pattern>/DeleteBlog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountManagerControl</servlet-name>
        <url-pattern>/AccountManagerControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductListServlet</servlet-name>
        <url-pattern>/product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editAccount</servlet-name>
        <url-pattern>/editAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteAccount</servlet-name>
        <url-pattern>/deleteAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewOrder</servlet-name>
        <url-pattern>/viewOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartServlet</servlet-name>
        <url-pattern>/user/cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlusCart</servlet-name>
        <url-pattern>/user/pluscart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MinusCart</servlet-name>
        <url-pattern>/user/minuscart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCart</servlet-name>
        <url-pattern>/user/deletecart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveCart</servlet-name>
        <url-pattern>/user/removecart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOutServlet</servlet-name>
        <url-pattern>/user/checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlaceOrderServlet</servlet-name>
        <url-pattern>/user/placeorder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MarkAsReadServlet</servlet-name>
        <url-pattern>/user/markasread</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReadAllServlet</servlet-name>
        <url-pattern>/user/readall</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchAccount</servlet-name>
        <url-pattern>/searchAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changepass</servlet-name>
        <url-pattern>/changepass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashboardControler</servlet-name>
        <url-pattern>/Dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerOrderControler</servlet-name>
        <url-pattern>/ManagerOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewOrderDetails</servlet-name>
        <url-pattern>/ViewOrderDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmOrderController</servlet-name>
        <url-pattern>/ConfirmOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetFeedback</servlet-name>
        <url-pattern>/GetFeedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageFeedbackByCustomer</servlet-name>
        <url-pattern>/ManageFeedbackByCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageFeedbackBySeller</servlet-name>
        <url-pattern>/ManageFeedbackBySeller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderDetailsController</servlet-name>
        <url-pattern>/OrderDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewFeedback</servlet-name>
        <url-pattern>/ViewFeedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostControl</servlet-name>
        <url-pattern>/PostControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostDetailControl</servlet-name>
        <url-pattern>/PostDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReplyFeedback</servlet-name>
        <url-pattern>/ReplyFeedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePostControl</servlet-name>
        <url-pattern>/DeletePost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageBanner</servlet-name>
        <url-pattern>/mkt/banner</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddBanner</servlet-name>
        <url-pattern>/mkt/addbanner</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteBanner</servlet-name>
        <url-pattern>/mkt/deletebanner</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCBanner</servlet-name>
        <url-pattern>/mkt/addcbanner</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCBanner</servlet-name>
        <url-pattern>/mkt/deletecbanner</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCBanner</servlet-name>
        <url-pattern>/mkt/editcbanner</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadProductControl</servlet-name>
        <url-pattern>/LoadProductControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProduct</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerProduct</servlet-name>
        <url-pattern>/ManagerProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProductControl</servlet-name>
        <url-pattern>/EditProductControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadProduct</servlet-name>
        <url-pattern>/LoadProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadPost</servlet-name>
        <url-pattern>/LoadPost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditPostControl</servlet-name>
        <url-pattern>/EditPost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProductControl</servlet-name>
        <url-pattern>/AddProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPost</servlet-name>
        <url-pattern>/AddPost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeliveryDashboard</servlet-name>
        <url-pattern>/DeliveryDashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeliveryDetail</servlet-name>
        <url-pattern>/DeliveryDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeliverConfirm</servlet-name>
        <url-pattern>/DeliverConfirm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MarketingDashboard</servlet-name>
        <url-pattern>/mkt/dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadMessage</servlet-name>
        <url-pattern>/LoadMessage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Chat</servlet-name>
        <url-pattern>/Chat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageDiscount</servlet-name>
        <url-pattern>/mkt/discount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Marketing_EditSale</servlet-name>
        <url-pattern>/mkt/editsale</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addAccount</servlet-name>
        <url-pattern>/addAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteFeedback</servlet-name>
        <url-pattern>/DeleteFeedback</url-pattern>
    </servlet-mapping>
    <servlet>
    <servlet-name>Cart_Vnpay</servlet-name>
    <servlet-class>controller.Cart_Vnpay</servlet-class>
</servlet>
    <servlet-mapping>
        <servlet-name>Cart_Vnpay</servlet-name>
        <url-pattern>/Cart_Vnpay</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            60
        </session-timeout>
    </session-config>
</web-app>
